body{
    display: flex;
    flex-direction: column;
}
.header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    color: #fff;
    padding:0 30px
}
.logo{
    font-weight: bold;
    font-size:20px;
    align-self: center;
}
.header ul li a,.hero1 p{
    font-size:18px; 
    color:#e5e7eb;
    text-decoration: none;
}
.header ul{
    list-style-type: none;
    display: flex;
    gap:15px
}
.hero{
display: flex;
background: #1f2937;
justify-content: space-evenly;
}
.hero1{
    display: flex;
    flex-direction: column; 
    flex-wrap: inherit; 
}
.hero h1{
    font: bold 48px; 
    color:#f9faf8;
   
}
button{
    background:#3882f6;
    color:#fff;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    width:100px;
}
.heroimg{
    color:#f9faf8
}
.container{

}
.info{

}
.info h2{
    text-align: center;
}
.infoboxes{
    display: flex;
}
.quote{
    background: #abb1ba;
    padding: 2em;
}
blockquote{
    font: italic lighter 36px/1.5 sans-serif;
    width:45%;
    margin:0 auto;
}
cite{
    font:bold 18px/1.5 sans-serif;
    display: block;
    text-align: right;
    padding:1em
    ;
}
.cta{

}
.footer{
    
}